---
layout: template.njk
title: About Us
pagetitle: About Us
permalink: "{{ page.filePathStem | replace('/root/', '/') }}.html"
---
{% include "header.njk" %}

<section data-scroll-section class="inner-banner" style="background-image: url('../images/about-banner.jpg');">
    <div class="container">
        <h1>About Us</h1>
    </div>
</section>

<section data-scroll-section="" class="about-main u-p-10">
    <div class="container">
        <p>
            Dr. Sajini’s Dental Hospital promises to give you the best dental care treatments and provisions available. We have fully equipped infrastructure and facilities, we are dedicated to provide anxiety-free dental care services which is a dream come true for patients with dental anxiety. We also have kept up the heritage setting which helps to give you a calming experience combined with the latest state of services. We aim to create a society that is aware of dental hygiene by catering to all concerns of the teeth by providing latest technology and quality dental care treatment. With a very strong and exceptional team if specialists, general dentists and assistants to handle the various aspects of dentistry, we take care of the very special and specific needs of the patients very well.</p>

        <div class="row u-m-10 mb-0 pb-0">
            <div class="col-md-6 col-sm-12 wrap-sub"> <h2>Mission</h2> 
                <div class="row">
                    <div class="col-sm-2">
                        <img src="/images/mission.svg" alt="mission">
                    </div>
                    <div class="col-sm-10">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sapiente beatae exercitationem! Iure dignissimos velit provident eum, nisi similique dolorem eligendi tempora nulla, at nemo.</p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-sm-12 wrap-sub">
                <h2>Vission</h2>
                <div class="row" >
                    <div class="col-sm-2">
                        <img src="/images/vision.svg" alt="mission">
                    </div>
                    <div class="col-sm-10">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sapiente beatae exercitationem! Iure dignissimos velit provident eum, nisi similique dolorem eligendi tempora nulla, at nemo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section data-scroll-section="" class="doctors u-p-10">
    <div class="container">
        <h3 data-speed="1">Our Doctors</h3>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="/images/doctor_1.jpeg" alt="">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h4>Elsa Jhon</h4>
                        <p>Lorem ipsum dolor sit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id est dolores ut maxime necessitatibus ratione. Fugiat reprehenderit neque inventore aspernatur.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="/images/doctor_1.jpeg" alt="">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h4>Elsa Jhon</h4>
                        <p>Lorem ipsum dolor sit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id est dolores ut maxime necessitatibus ratione. Fugiat reprehenderit neque inventore aspernatur.</p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section> -->

{% include "footer.njk" %}

