---
layout: template.njk
title: Gallery
pagetitle: Gallery
permalink: "{{ page.filePathStem | replace('/root/', '/') }}.html"
---
{% include "header.njk" %}

<section data-scroll-section class="inner-banner" style="background-image: url('/images/about-banner.jpg');">
    <div class="container">
        <h1>Gallery</h1>
    </div>
</section>



<section data-scroll-section="" class="gallery u-p-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 facili">
                <div class="facili__img"><img src="/images/1.jpeg" alt="RECEPTION"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 facili">
                <div class="facili__img"><img src="/images/2.jpeg" alt="PARKING AREA"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 facili">
                <div class="facili__img"><img src="/images/3.jpeg" alt="COMFORTABLE ENVIRONMENT"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 facili">
                <div class="facili__img"><img src="/images/4.jpeg" alt="QUICK LAB SERVICE"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 facili">
                <div class="facili__img"><img src="/images/5.jpeg" alt="PLEASANT HOSPITAL STAFF"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 facili">
                <div class="facili__img"><img src="/images/6.jpeg" alt="STERILIZATION"></div>
            </div>
        </div>
    </div>
</section>

{% include "footer.njk" %}