---
layout: template.njk
title: Home
pagetitle: Home
permalink: "{{ page.filePathStem | replace('/root/', '/') }}.html"
---


{% include "header.njk" %}
<div class="one-time">
  <div data-scroll-section class="banner" style="background-image: url(/images/banner_2.jpg);">
    <div class="color-over"></div>
    <div class="container">
      <div class="banner__content">
        <h1>Top Personalized <span class="d-block">Dental Care Services</span></h1>
        <button class="btn btn-primary btn-border mt-4">Book Appointment</button>
      </div>
    </div>
  </div>
  <div data-scroll-section class="banner" style="background-image: url(/images/banner_2.jpg);">
    <div class="color-over"></div>
    <div class="container">
      <div class="banner__content">
        <h1>Top Personalized <span class="d-block">Dental Care Services</span></h1>
        <button class="btn btn-primary btn-border mt-4">Book Appointment</button>
      </div>
    </div>
  </div>
</div>

<main>
  <section data-scroll-section class="about-us u-m-10">
    <div data-scroll class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-12">
          <span class="caption">About Us</span>
          <h2>Multispeciality dental care hospital which aims to solve all kinds of dental issues</h2>
          <p class="mt-4">Dr. Sajini’s Dental Hospital promises to give you the best dental care treatments and provisions available. We have fully equipped infrastructure and facilities, we are dedicated to provide anxiety-free dental care services which is a dream come true for patients with dental anxiety.</p>
          <a href="/about.html" class="btn btn-primary btn-border mt-3">More About Us</a>
        </div>
        <div class="col-lg-6 col-md-5 col-sm-12">
          <div class="about-iconWrap">
            <ul class="about-item">
              <li data-scroll data-scroll-speed="0" class="about-item__items">
                <svg viewBox="0 0 60 60" class="icon">
                  <use xlink:href="/images/sprite.svg#icon-dental-chair-svgrepo-com"></use>
                </svg>
                <span>Best Professionals</span>
              </li>
              <li data-scroll data-scroll-speed="0" class="about-item__items">
                <svg viewBox="0 0 60 60" class="icon">
                  <use xlink:href="/images/sprite.svg#icon-dental-prosthesis-svgrepo-com"></use>
                </svg>
                <span>Medical Treatment</span>
              </li>
              <li data-scroll data-scroll-speed="0" class="about-item__items">
                <svg viewBox="0 0 60 60" class="icon">
                  <use xlink:href="/images/sprite.svg#icon-dental-dentist-svgrepo-com"></use>
                </svg>
                <span>Qualified Doctors</span>
              </li>
              <li data-scroll data-scroll-speed="0" class="about-item__items">
                <svg viewBox="0 0 60 60" class="icon">
                  <use xlink:href="/images/sprite.svg#icon-dental-review-svgrepo-com"></use>
                </svg>
                <span>Emergency Help</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section data-scroll-section class="treatment u-m-10 u-p-10 pb-0 text-center">
    <div class="container">
      <span class="caption">Our Treatment</span>
      <h3>Premium Dental Care</h3>
      <div class="row mt-5">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <a href="/treatment.html#rootCanal">
            <div class="card">
              <img src="/images/advanced-ortho-mesa-adult-braces.jpg" class="card-img-top" alt="Orthodontist Treatment">
              <div class="card-body d-flex justify-content-between">
                <h5 class="card-title">RootCanal Treatment</h5>
                <svg viewBox="0 0 60 60" class="icon">
                  <use xlink:href="/images/sprite.svg#icon-circle-right"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <a href="/treatment.html#periodontic">
            <div class="card">
              <img src="images/Routine-Dental-Care.jpg" class="card-img-top" alt="Orthodontist Treatment">
              <div class="card-body d-flex justify-content-between">
                <h5 class="card-title">Periodontic Treatment</h5>
                <svg viewBox="0 0 60 60" class="icon">
                  <use xlink:href="/images/sprite.svg#icon-circle-right"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <a href="/treatment.html#laser">
            <div class="card">
              <img src="/images/iStock-615890680-1200x800.jpg" class="card-img-top" alt="Orthodontist Treatment">
              <div class="card-body d-flex justify-content-between">
                <h5 class="card-title">Laser Treatment</h5>
                <svg viewBox="0 0 60 60" class="icon">
                  <use xlink:href="/images/sprite.svg#icon-circle-right"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <a href="/treatment.html#prosthodontic">
            <div class="card">
              <img src="images/12.jpg" class="card-img-top" alt="Orthodontist Treatment">
              <div class="card-body d-flex justify-content-between">
                <h5 class="card-title">Prosthodontic Treatment</h5>
                <svg viewBox="0 0 60 60" class="icon">
                  <use xlink:href="/images/sprite.svg#icon-circle-right"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <a href="/treatment.html#orthodontics">
            <div class="card">
              <img src="images/periodontal-treatment.jpg" class="card-img-top" alt="Orthodontist Treatment">
              <div class="card-body d-flex justify-content-between">
                <h5 class="card-title">Orthodontics</h5>
                <svg viewBox="0 0 60 60" class="icon">
                  <use xlink:href="/images/sprite.svg#icon-circle-right"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <a href="/treatment.html#paediatric">
            <div class="card">
              <img src="/images/kids-dentistry-min-925x425.jpg" class="card-img-top" alt="Orthodontist Treatment">
              <div class="card-body d-flex justify-content-between">
                <h5 class="card-title">Paediatric Treatment</h5>
                <svg viewBox="0 0 60 60" class="icon">
                  <use xlink:href="/images/sprite.svg#icon-circle-right"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  
  <section data-scroll-section class="overview u-p-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
          <h3>Overview</h3>
          <p>Dummy text is text that is used in the publishing industry or by web designers to occupy</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="counting">
            <span class="counting__number">500+</span>
            <span class="counting__caption">Satisfied Patients</span>
          </div>
  
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="counting">
            <span class="counting__number">15+</span>
            <span class="counting__caption">Doctor's Team</span>
          </div>
  
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="counting">
            <span class="counting__number">1200+</span>
            <span class="counting__caption">Implants Placed</span>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  
  <section data-scroll-section class="whyus u-p-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="/images/why_us.png" alt="why us">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h3>
            Why US
          </h3>
          <p>Dr. Sajini’s Dental Hospital promises to give you the best dental care treatments and provisions available.</p>
          <ul>
            <li>
              <h4>Pain free and less traumatic treatment.</h4>
              <!-- <p>Dummy text is text that is used in the publishing industry or by web designers to occupy</p> -->
            </li>
            <li>
              <h4>Dedicated team of specialised doctors</h4>
              <!-- <p>Dummy text is text that is used in the publishing industry or by web designers to occupy</p> -->
            </li>
            <li>
              <h4>Latest technology and quality dental care services</h4>
              <!-- <p>Dummy text is text that is used in the publishing industry or by web designers to occupy</p> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  <section data-scroll-section class="enquiry-section u-p-10">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12"> <h3>The Usefulness Of <span class="d-block">Nonsensical Content</span></h3>
          <p class="sub-tit">Lorem ipsum dolor sit amor etiam mauris massa seffictur egeot ele eu pretium accumsan src</p>
          <div class="tel-detail d-flex mt-5">
            <svg viewBox="0 0 60 60" class="icon">
              <use xlink:href="/images/sprite.svg#icon-phone-call-svgrepo-com"></use>
            </svg>
            <div class="ms-3">
              <span class="d-block">Make an Appointment</span>
              <a href="tel:+9188700600">+918089793344</a>
            </div>
          </div></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
         {% include "form.njk" %}
        </div>
      </div>
     
    </div>
  </section>
</main>

{% include "footer.njk" %}
