---
layout: template.njk
title: Treatment
pagetitle: Treatment
permalink: "{{ page.filePathStem | replace('/root/', '/') }}.html"
---
{% include "header.njk" %}
<section data-scroll-section class="inner-banner" style="background-image: url('../images/about-banner.jpg');">
    <div class="container">
        <h1>Treatment</h1>
    </div>
</section>

<section data-scroll-section  class="treatment u-p-10" >
    <div class="container" id="rootCanal">
        <div class="row u-p-7">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/advanced-ortho-mesa-adult-braces.jpg" class="" alt="RootCanal Treatment">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>RootCanal Treatment</h2>
                <p>If your tooth suffers from injury or deep cavity and the internal nerves are damaged, then Root Canal Treatment is done. It is done to repair and repair and save badly damaged or infected tooth which result in the elimination of infection and protection of tooth from further microbial invasion. A modern root canal treatment is very similar to a routine filling and can usually be completed in one or two appointments, depending on the condition of your tooth and your personal circumstances. Getting a root canal is relatively painless and extremely effective. You’ll be back to smiling, biting and chewing with ease in no time.</p>
            </div>
        </div>
    </div>
    <div class="container" id="periodontic">
        <div class="row flex-row-reverse u-p-7">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="images/Routine-Dental-Care.jpg" class="" alt="Periodontic Treatment">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Periodontic Treatment</h2>
                <p>Periodontics is the dental specialty focusing exclusively in the inflammatory disease that destroys the gums and other supporting structures around the teeth. The goal of periodontitis treatment is to thoroughly clean the pockets around teeth and prevent damage to surrounding bone .</p>
                <P><strong>Scaling and Root Planing</strong> – is a procedure involving removal of dental plaque and calculus (scaling or debridement) and then smoothing, or planing, of the (exposed) surfaces of the roots, removing cementum or dentine.</P>
                <P><strong>Scaling and Root Planing</strong> – is a procedure involving removal of dental plaque and calculus (scaling or debridement) and then smoothing, or planing, of the (exposed) surfaces of the roots, removing cementum or dentine.</P>
                <p><strong>Deep Scaling/Subgingival Scaling</strong></p>
                <p><strong>Flap Surgery</strong> - Tiny incisions are made in your gum so that a section of gum tissue can be lifted back, exposing the roots for more effective scaling and root planing. Because periodontitis often causes bone loss, the underlying bone may be recontoured before the gum tissue is sutured back in place. After you heal, it's easier to clean these areas and maintain healthy gum tissue.</p>
            </div>
            
        </div>
    </div>
    <div class="container" id="laser">
        <div class="row u-p-7">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/iStock-615890680-1200x800.jpg" class="" alt="Laser Treatment">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Laser Treatment</h2>
                <p>Lasers can be used to treat a number of different dental conditions, it is also a more comfortable treatment option. Laser dentistry potentially offers a more comfortable treatment option for a number of dental procedures involving hard or soft tissue compared to drills and other non-laser tools. The two main types of procedures used for laser dentistry are hard tissue and soft tissue procedures. Hard tissue refers to the teeth, and soft tissue refers to the gums.</p>
                <ul>
                    <li>No blood loss</li>
                    <li>Painless</li>
                    <li>Less traumatic</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="prosthodontic">
            <div class="row flex-row-reverse u-p-7">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="images/prosthodontic.jpg" class="" alt="Prosthodontic Treatment">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>Prosthodontic Treatment</h2>
                    <p>This treatment deals on the design, creation and placement or replacement of damaged teeth including fabrication of dentures, dental crowns and bridges, intra oral scanners to restore function and beauty to your smile.Dental prosthetics can be used to treat cases ranging from a single tooth to an entire arch of teeth.We can make recommendations regarding the most appropriate treatment options that can be used to achieve the desired results. . We provide a variety of material choices depending on the requirement of the case.</p>
                    <h3 class="sub-treat">Implantology</h3>
                    <p>We have the facility to permanent implant artificial teeth in the jaw. Implantation and placement can be done on the same day.</p>
                </div>
            </div>
    </div>
        <div class="container" id="orthodontics">
            <div class="row u-p-7">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="/images/orthodontics.jpg" class="" alt="Orthodontics">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>Orthodontics</h2>
                    <p>If you are facing difficulties with the irregularities of teeth ,the best solution is to correct them with braces/brackets. Orthodontics is a way of straightening or moving teeth, to improve the appearance of the teeth and how they work. It can also help to look after the long-term health of your teeth, gums and jaw joints, by spreading the biting pressure over all your teeth.</p>
                    <p>Ceramic brackets is the best option as it is clear or tooth coloured which provide more discretion. These consist of brackets, wires, and bands. Bands are fixed firmly around the teeth and serve as anchors for the appliance, while brackets are usually connected to the front of the teeth.</p>
                </div>
            </div>
        </div>
       <div class="container" id="paediatric">
        <div class="row flex-row-reverse u-p-7">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="images/Routine-Dental-Care.jpg" class="" alt="Orthodontist Treatment">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Paediatric Treatment</h2>
                <p>It offers a wide range of treatment options, as well as expertise to care for your child’s teeth, gums, and mouth.</p>
                <ul>
                    <li><strong>Root Canal Treatment</strong> – This is a better option if your child’s tooth pulp is infected or damaged. It is cleaned and eventually a crown is placed over the top of the tooth.</li>
                    <li><strong>Pedo fillings </strong> – If children have small cavities, fillings are recommended as it is a safe and normal dental procedure to restore your child’s tooth.</li>
                    <li><strong>Habit Breaking Appliances </strong> <ul>
                        <li><strong>Thumb Sucking</strong>– It is a common habit among children, a check and chat
                            with the dentist about why it is important to stop the habit maybe more
                            effective.</li>
                    
                    <li><strong>Mouth Breaking</strong>
                    - if you discover your child have broken or chipped tooth,
                    we have many ways to fix it.</li>
                    <li><strong>Growth Modulation Appliances Myofunctional and Orthopaedic</strong></li>
                </ul></li>
                </ul>
            </div>
        </div>
       </div>
        <div class="container" id="oral">
            <div class="row u-p-7">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="/images/advanced-ortho-mesa-adult-braces.jpg" class="" alt="Orthodontist Treatment">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>Oral Surgery</h2>
                 <p>Oral surgery is a broad term for any operation performed on your teeth, gums, jaw or surrounding oral and facial structures. It includes a wide range of procedures, including teeth extractions, dental bone grafts, periodontal (gum) grafts and corrective jaw surgery. When there is an irreparable damage to a tooth below the gum line, such as deep decay or fractures, tooth maybe extracted. Impacted tooth removal can be done without any pain. Your teeth, gums and jaw joints all work together harmoniously for optimal oral health and function. The overarching goal of oral surgery is to address any issue that interferes with your health or quality of life.</p>
                </div>
            </div>
        </div>
       <div class="container" id="conservative">
        <div class="row flex-row-reverse u-p-7">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="images/Routine-Dental-Care.jpg" class="" alt="Orthodontist Treatment">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Conservative Dentistry</h2>
                <p>It is concerned with the conservation of teeth in the mouth. It embraces the practice of operative dentistry and endodontics, and includes various kinds of direct and indirect restorations of individual teeth in the mouth. If your teeth are affected with cavities, tooth coloured fillings can be done as it is the normal procedure to restore your teeth.</p>
            </div>
        </div>
       </div>
       <div class="container" id="geriatric">
        <div class="row u-p-7">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/advanced-ortho-mesa-adult-braces.jpg" class="" alt="Orthodontist Treatment">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Geriatric Dentistry</h2>
             <p>It deals with the delivery of oral care especially to older patients, many of whom require diagnosis, management, prevention and treatment of dental problems associated with age-related diseases.</p>
             <p><strong>CAD/CAM Dentures </strong>– To overcome the disadvantages of removable dentures, CAD/CAM denture system has been introduced. The procedure can be completed in just two appointments. High quality materials are used which ensures exceptional fit and stability of dentures also reduced allergic potential.</p>
             <ul>
                 <li>Inseparable bonding of teeth to acrylic denture base</li>
                 <li>Plaque free surface</li>
                 <li>Digital model analysis and teeth setting</li>
                 <li>Predictable results</li>
                 <li>No polymerisation shrinkage</li>
             </ul>
            </div>
        </div>
       </div>
        <div class="container" id="teeth">
            <div class="row flex-row-reverse u-p-7">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="images/Routine-Dental-Care.jpg" class="" alt="Orthodontist Treatment">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>Teeth Whitening</h2>
                    <p>Teeth whitening is a process of removing stains from the tooth surface and restoring the natural colour of the teeth. Whitening is a one-time procedure which is amongst the most common and widely adopted cosmetic procedure. With the advent of the latest Dental technology, we have advanced whitening treatment procedures which give reliable and long-lasting results.</p>
                </div>
            </div>
        </div>
       <div class="container" id="grooming">
        <div class="row u-p-7">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/advanced-ortho-mesa-adult-braces.jpg" class="" alt="Orthodontist Treatment">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Grooming Packages</h2>
             <p>Any type of grooming can be done in 2 sitting, Teeth whitening is a cosmetic dental procedure that lightens pigmentation within the teeth. Scaling and polishing cleans your teeth, preventing and controlling the severity of gum diseases.</p>
             <p>
                We will help you to smile confidently, as we focus on changing smiles and lives to its best everyday..!!</p>

            </div>
        </div>
       </div>
</section>
{% include "footer.njk" %} 