<form class="form-enquire" action="">
    <span class="form-enquire__title">Make An Enquiry</span>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
    <fieldset class="form-enquire__group">
      <label for="">First and Last name*</label>
        <input class="form-enquire__input" type="text" placeholder="Name" required>
    </fieldset>
    <fieldset class="form-enquire__group">
         <label for="">Phone*</label>
        <input class="form-enquire__input" type="tel" placeholder="Phone" required>
    </fieldset>
    <fieldset class="form-enquire__group">
      <label for="">Email*</label>
        <input class="form-enquire__input" type="email" placeholder="Email" required>
    </fieldset>


        <input type="submit" value="Send Now" class="btn btn-primary btn-secondary">
</form>