{% set currentUrl %}{{ page.url }}{% endset %}

<header data-scroll-section>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand  d-flex" href="index.html"><img src="/images/logo.svg" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/treatment.html">Treatment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/doctors.html">Doctors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/facilities.html">Facilities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery.html">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact.html">Contact Us</a>
            </li>
          </ul>
         
          <button class="btn btn-primary ms-3" type="button">Book Appointment</button>

        </div>
        <div class="mobmenu-icon">
          <img src="/images/menu-icon.svg" alt="">
        </div>
      </div>
    </nav>
  </header>