<div class="mob-menu">
    <ul>
        <li>
          <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
        </li>
        <li>
          <a class="nav-link" href="/treatment.html">Treatment</a>
        </li>
        <li>
          <a class="nav-link" href="/doctors.html">Doctors</a>
        </li>
        <li>
          <a class="nav-link" href="/about.html">About Us</a>
        </li>
        <li>
          <a class="nav-link" href="/facilities.html">Facilities</a>
        </li>
        <li>
          <a class="nav-link" href="/gallery.html">Gallery</a>
        </li>
        <li>
          <a class="nav-link" href="/contact.html">Contact Us</a>
        </li>
       
      </ul>

      <img src="/images/closebtn.svg" alt="" class="closeBtn">
</div>

